body{
    font-family: Arial, sans-serif;
    background-color: #FFE5B4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.formulario-contenedor{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    color: #6d4c41;
    margin-bottom: 30px;
}
.formulario-g{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 30px;
}
.campo label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:#6d4c41; 
}
.campo input, .campo select{
    width: 100%;
    padding: 10px;
    border: 1px solid #d3a87c ;
    border-radius: 5px;
    font-size: 1rem;
}
.campo-imagen{
    grid-column: span 2;
}
.boton-contenedor{
    grid-column: span 2;
    text-align: center;
    margin-top: 20px;
}
.boton {
    grid-column: span 2;
    text-align: center;
    margin-top: 20px;
}
.boton-contenedor button {
    background-color: #FF9966;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.boton button:hover {
    background-color: #FF7043;
}