body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe5b4;
    color: #6d4c41;
    margin: 0;
    padding: 0;
}

section {
    background-color: #fff5e0;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 25px;
}
