body{
    font-family: 'Arial', sans-serif;
    background-color: #ffe5b4;
    color: #6d4c41;
    margin: 0;
    text-align: center;
}
header{
    background-color: #FFCC99;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #6d4c41;
    font-weight: bold;
    margin: 0 15px;
}
.hero{
    background-color: #ffdab9;
    padding: 50px 20px;
}