body{
    font-family: 'Arial', sans-serif;
    background-color: #ffe5b4;
    color: #6d4c41;
    margin: 0;
    text-align: center;
}
header{
    background-color: #FFCC99;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #6d4c41;
    font-weight: bold;
    margin: 0 15px;
}
.hero{
    background-color: #ffdab9;
    padding: 50px 20px;
}
.filters{
    margin: 20px 0;
}
.filters select, .filters button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #6d4c41  ;

}
.lista-perros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}