body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe5b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.fondo{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}
h2 {
    color: #6d4c41;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    text-align: left;
    font-weight: bold;
    color: #6d4c41;
    margin-top: 10px;
    width: 100%;
}